body {
  background-color: lightgray;
  overflow: hidden;
}

.box {
  background-color: gray;
  position: absolute;
  border-radius: 50px;
}



#main {
  width: 25vw;
  height: 90vh;
  top: 5vh;
  left: 12.5vw;
}
