body {
  background-color: lightgray;
  overflow: hidden;
}
.box {
  background-color: gray;
  border-radius: 3vw;
  position: absolute;
}
#main {
  width: 30vw;
  height: 90vh;
  top: 5vh;
  left: 12.5vw;
}
#answerArea {
  background-color: darkgray;
  border-radius: 0.75vw;
  border: 1px solid black;
  position: absolute;
  top: 12.5vh;
  left: calc(12.5vw + 2.5vw);
  width: 25vw; height: 7.5vh;
  height: 7.5vh;
  text-align: end;
  font-size: 2.5vh;
}
.button {
  background-color: darkgray;
  border-radius: 0.75vw;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  font-size: 2.5vh;
  width: 7.5vw;
  height: 7.5vh;
}
#b1 {
  top: 50vh;
  left: calc(12.5vw + 7.5vw *0.25);
}
#b2 {
  top: 50vh;
  left: calc(12.5vw + 7.5vw *1.5);
}
#b3 {
  top: 50vh;
  left: calc(12.5vw + 7.5vw *2.75);
}

#b4 {
  top: calc(50vh + 7.5vh *1.25);
  left: calc(12.5vw + 7.5vw *0.25);
}
#b5 {
  top: calc(50vh + 7.5vh *1.25);
  left: calc(12.5vw + 7.5vw *1.5);
}
#b6 {
  top: calc(50vh + 7.5vh *1.25);
  left: calc(12.5vw + 7.5vw *2.75);
}

#b7 {
  top: calc(50vh + 7.5vh *2.5);
  left: calc(12.5vw + 7.5vw *0.25);
}
#b8 {
  top: calc(50vh + 7.5vh *2.5);
  left: calc(12.5vw + 7.5vw *1.5);
}
#b9 {
  top: calc(50vh + 7.5vh *2.5);
  left: calc(12.5vw + 7.5vw *2.75);
}
